extends layout

block content
    .row.man.pan(ng-controller='ExternalController')
        .col-md-12.pan.text-dark-gray2
            .col-md-7.col-md-offset-1
                .col-md-12.pan.man
                    .col-md-offset-8
                        //- .col-md-2.man.pan
                            h2.mbn.text-primary
                                | Mosaiced

                        .col-md-4.man.pan
                            img.img-responsive(src="stylesheets/stylesheets/ball/1/svg/cone.svg")
                        .col-md-6.man.pan
                            a.btn.btn-primary.mtl.pull-right(href="/app") Go to App




                    